#misc{
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    margin: auto auto auto auto;
}

#game {
    background-color: #001111;
    width: 1000px;
    height: 500px;
    margin: auto auto auto auto;
    border-width: 5px; border-style: solid; border-color: #FFBB00;

}

#preload-images{
    display: none;
}