#misc{
    border-width: 5px; border-style: solid; border-color: #FFD700;
    display: none;
    /*margin: auto auto auto auto;*/
}

#enemymazes{
    margin: auto auto auto auto;
    width:620px; height:600px;
    float:right;
}

#empty{
    width:620px; height:10px;
    float:left
}

#enemy1{
	float:left; width: 300px; height:150px;
	border-width: 1px; border-style: solid; border-color: #FF0000;
	display: none;
}

#enemy2{
	float:right; width: 300px; height:150px;
	border-width: 1px; border-style: solid; border-color: #FF69B4;
	display: none;
}

#enemy3{
	float:left; width: 300px; height:150px;
	border-width: 1px; border-style: solid; border-color: #FFD700;
	display: none;
}

#enemy4{
	float:right; width: 300px; height:150px;
	border-width: 1px; border-style: solid; border-color: #008000;
	display: none;
}

#enemy5{
	float:left; width: 300px; height:150px;
	border-width: 1px; border-style: solid; border-color: #0000FF;
	display: none;
}

#enemy6{
	float:right; width: 300px; height:150px;
	border-width: 1px; border-style: solid; border-color: #800080;
	display: none;
}

#game {
    background-color: #ffffff;
    width: 1000px; height: 500px;
    top: auto;
    right:  auto;
    bottom: auto;
    border-width: 5px; border-style: solid; border-color: #FFD700;
}

#preload-images{
    display: none;
}